<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar" *ngIf="showTabBar">
    <!-- Tab siswa -->
    <ion-tab-button tab="home" href="/tabs/home" *ngIf="isSiswa">
      <div class="tab-content">
        <ion-icon name="home-outline"></ion-icon>
        <span class="tab-label">Beranda</span>
      </div>
    </ion-tab-button>
    <ion-tab-button tab="courses" href="/tabs/courses" *ngIf="isSiswa">
      <div class="tab-content">
        <ion-icon name="book-outline"></ion-icon>
        <span class="tab-label">Mapelku</span>
      </div>
    </ion-tab-button>

    <!-- Jelajah: semua role -->
    <ion-tab-button tab="jelajah" href="/tabs/jelajah">
      <div class="tab-content">
        <ion-icon name="compass-outline"></ion-icon>
        <span class="tab-label">Jelajah</span>
      </div>
    </ion-tab-button>

    <!-- Tab umum -->
    <ion-tab-button tab="kursusku" href="/tabs/kursusku" *ngIf="!isSiswa">
      <div class="tab-content">
        <ion-icon name="library-outline"></ion-icon>
        <span class="tab-label">Kursusku</span>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history" *ngIf="isSiswa">
      <div class="tab-content">
        <ion-icon name="time-outline"></ion-icon>
        <span class="tab-label">Nilai</span>
      </div>
    </ion-tab-button>
    <ion-tab-button tab="profile" href="/tabs/profile">
      <div class="tab-content">
        <ion-icon name="person-outline"></ion-icon>
        <span class="tab-label">Profil</span>
      </div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
