<ion-content [fullscreen]="true" style="--background: transparent;">
  <div class="background-container"></div>
  <div class="page-wrapper">
    <div class="spacer"></div>

    <div class="bottom-overlay">
      <div class="brand-section">
        <h1 class="logo-text">Eldemy</h1>
        <p class="tagline">Kursus online &amp; pembelajaran sekolah dalam satu aplikasi</p>
      </div>

      <div class="features-row">
        <div class="feature-badge">
          <div class="badge-icon-wrapper icon-cyan">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512" fill="none" stroke="currentColor" stroke-width="32" stroke-linecap="round" stroke-linejoin="round">
              <path d="M32 192L256 64l224 128-224 128L32 192z"/>
              <path d="M112 240v128c0 24 64 64 144 64s144-40 144-64V240"/>
              <path d="M480 192v112"/>
            </svg>
          </div>
          <span class="badge-text">Ribuan<br />Kursus</span>
        </div>
        <div class="feature-badge">
          <div class="badge-icon-wrapper icon-orange">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512" fill="none" stroke="currentColor" stroke-width="32" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="352 144 464 144 464 256"/>
              <path d="M48 368L169.37 246.63a32 32 0 0145.26 0l50.74 50.74a32 32 0 0045.26 0L464 144"/>
            </svg>
          </div>
          <span class="badge-text">LMS<br />Sekolah</span>
        </div>
      </div>

      <button class="btn-get-started" (click)="goToLogin()">
        Mulai Sekarang
        <span class="arrow-icon">&#8594;</span>
      </button>
      <p class="daftar-link">Belum punya akun? <b (click)="goToRegister()">Daftar</b></p>
    </div>
  </div>
</ion-content>