<ion-content [fullscreen]="true" style="--background: transparent;">
  <div class="background-container"></div>
  <div class="page-wrapper">
    <div class="spacer"></div>

    <div class="bottom-overlay">
      <div class="brand-section">
        <h1 class="logo-text">Eldemy</h1>
        <p class="tagline">Kursus online &amp; pembelajaran sekolah dalam satu aplikasi</p>
      </div>

      <button class="btn-get-started" (click)="goToLogin()">
        Mulai Sekarang
        <span class="arrow-icon">&#8594;</span>
      </button>
      <p class="daftar-link">Belum punya akun? <b (click)="goToRegister()">Daftar</b></p>
    </div>
  </div>
</ion-content>